extends layout



block content

    h1= title

    p Welcome to #{title}

    p Math.cos() is applied to #{NR1} is #{COS}

    p Math.asin() is applied to #{NR2} is #{SIN}

    p Math.asinh() is applied to #{NR3} is #{SINH}

    